
.center {
    width:  500px;
    margin: 0 auto;
  }
  
.form {
    margin-top: 10%;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.inputToDo {
    width: 80%;
  }
  
.chooseButton {
    padding-left: 48%;
  }